* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

.navbar {
    /* background: #131313; */
    background-color: white;
    height: 4em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}


/* .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 50px;
}


#navbar__logo {
    background-color: #ff8177;
    background-color: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
} */


.navbar a{
    display: block;
    text-decoration: none;
    color: white;
}
.navbar a:hover > li{
    background-color: hsl(187, 100%, 80%);
}
.navbar ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.navbar li{
    background-color: red;
    margin: 1em;
    padding: 1em;
    border-radius: 1em;
}